@typeparam TItem

<h3>ListComponent</h3>
<div id="@_htmlId">
    @*
    this empty div is the "cursor"
    In the JavaScript this line exists:
        'cursorElement = listChildrenContainerElement.children[0];'
    The cursor element displays the active background-color,
    and is how the keyboard events are scrolled into view.
    *@
    <div></div>

    @if (_items is null)
    {
        <text>Items is null</text>
    }
    else if (_childContent is null)
    {
        <text>ChildContent is null</text>
    }
    else if (_deleteOnClickFunc is null)
    {
        <text>DeleteOnClickFunc is null</text>
    }
    else if (!_myJsObjectInstanceInitializedSuccessfully)
    {
        <text>!_myJsObjectInstanceInitializedSuccessfully</text>
    }
    else
    {
        foreach (var item in _items)
        {
            <div @key="item">
                @_childContent(item)
                <button class="btn btn-danger">Delete</button>
            </div>
        }
    }
</div>


