@typeparam TItem

@*
    See site.css for css

    CSS isolation triggers me cause it has to tag everything with an "id"-ish attribute "b-canv022aum".
    In this list component I don't want to incur that cost.
*@

<h3>ListComponent</h3>
<div id="@_htmlId" class="list-component" tabindex="0">
    @*
    this empty div is the "cursor"
    In the JavaScript this line exists:
        'cursorElement = listChildrenContainerElement.children[0];'
    The cursor element displays the active background-color,
    and is how the keyboard events are scrolled into view.
    Blazor diffs ignore this element since it lacks any attributes/"childContent"
    Thus, JavaScript can do whatever it wants with this div.
    *@
    <div></div>

    @if (_items is null)
    {
        <text>Items is null</text>
    }
    else if (_childContent is null)
    {
        <text>ChildContent is null</text>
    }
    else if (_deleteOnClickFunc is null)
    {
        <text>DeleteOnClickFunc is null</text>
    }
    else if (!_myJsObjectInstanceInitializedSuccessfully)
    {
        <text>!_myJsObjectInstanceInitializedSuccessfully</text>
    }
    else
    {
        var localCache_StyleCss = $"height: {_itemHeight}px; position: relative;";
        foreach (var item in _items)
        {
            <div @key="item" style="@localCache_StyleCss">
                @_childContent(item)
                <button class="btn btn-danger">Delete</button>
            </div>
        }
    }
</div>


